<li>
   <div class="col">
      <%= link_to dolist.name, dolist, class: "btn btn-primary" %>
       <%= link_to "Delete"   , dolist, method: :delete, data: { confirm: "You sure?" }, 
                                        class:"btn btn-secundary" %>
   </div>
   <div class="col">
   </div>
</li>